<#import "/spring.ftl" as spring/>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
    <#include "header.ftl">
</head>
<body>
<div class="wrapper">
    <#include "sidebar.ftl">
    <div id="content">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="container">
                    <h2>Bienvenue sur votre application de monitoring RecylClient !</h2>


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>